Source: ruby-crass
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders: Balasankar C <balasankarc@autistici.org>
Build-Depends: debhelper (>= 7.0.50~), gem2deb
Standards-Version: 3.9.5
Vcs-Git: git://anonscm.debian.org/pkg-ruby-extras/ruby-crass.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-ruby-extras/ruby-crass.git;a=summary
Homepage: https://github.com/rgrove/crass/
Testsuite: autopkgtest
XS-Ruby-Versions: all

Package: ruby-crass
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter
# minitest (~> 5.0.8, development), rake (~> 10.1.0, development)
Description: CSS parser based on the CSS Syntax Level 3 draft.
 Crass is a pure Ruby CSS parser based on the CSS Syntax Level 3 draft.
